body {
  background-color: lightgray;
  font-family: monospace, Courier, 'Courier New';
}

 table {
  border: 2px solid violet;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

td {
  border-top: 2px solid violet;
  padding-right: 20px;
}

th {
  background-color: Violet;
}

h1, h2 {
  text-align: center;
}

h2 {
  color: RebeccaPurple;
}

